@model covid192020.Areas.Admin.Models.ViewModels.ChangePasswordViewModel

<h2>Изменение пароля</h2>
<hr />
@if (TempData["ResetPasswordStatusFio"] != null)
{
    <h4 style="color: green">Изменение пароля пользователя @TempData["ResetPasswordStatusFio"] прошло успешно!</h4>
    <hr />
}
<form method="post" asp-area="Admin" asp-controller="Account" asp-action="ChangePassword" asp-antiforgery="true">
    <input asp-for="Id" type="hidden" />
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label><b>ФИО: </b> @ViewBag.UserFio</label>
    </div>
    <div>
        <label><b>Логин:</b> @ViewBag.UserName</label>

    </div>

    <div>
        <label asp-for="Password"></label><br />
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="PasswordConfirm"></label><br />
        <input asp-for="PasswordConfirm" class="form-control" />
        <span asp-validation-for="PasswordConfirm"></span>
    </div>
    <div>
        <br />
        <a asp-area="Admin" asp-controller="Account" asp-action="Edit" asp-route-Id="@ViewBag.Id" class="btn btn-primary">Вернуться</a>
        <br /><br />
        <button type="submit" class="btn btn-success">Изменить пароль</button>

    </div>
</form>

@section Scripts{

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>

}