@model covid192020.Areas.Admin.Models.ViewModels.EditViewModel
@section Styles{
    <link rel="stylesheet" href="~/lib/bootstrap-select/dist/css/bootstrap-select.css" asp-append-version="true" />
}
<h2>Изменить данные пользователя</h2>
<hr />
@if (TempData["EditStatusFio"] != null)
{
    <h4 style="color: green">Изменение пользователя @TempData["EditStatusFio"] прошло успешно!</h4>
    <hr />
}
<div style="width: 450px">
    <form method="post" asp-area="Admin" asp-controller="Account" asp-action="Edit" asp-antiforgery="true">
        <input asp-for="Id" type="hidden" />
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <label asp-for="UserFio"></label><br />
            <input asp-for="UserFio" class="form-control" />
            <span asp-validation-for="UserFio"></span>
        </div>
        <div>
            <label asp-for="RolesName"></label><br />
            <select asp-for="RolesName" asp-items="@ViewBag.RolesSelectList" title="-- Выберите пункты --" class="form-control selectpicker"> </select>
            <span asp-validation-for="RolesName"></span>
        </div>
        <div>
            <label asp-for="UserName"></label><br />
            <input asp-for="UserName" class="form-control" />
            <span asp-validation-for="UserName"></span>
        </div>
        <div>
            <br />
            <a asp-area="Admin" asp-controller="Account" asp-action="ChangePassword" asp-route-Id="@ViewBag.UserId" class="btn btn-primary">Изменить пароль</a>
            <br /><br />
            <button type="submit" class="btn btn-success">Сохранить изменения</button>
            <br /><br />
        </div>
    </form>
    <form asp-area="Admin" asp-controller="Account" asp-action="Delete" asp-route-Id="@ViewBag.UserId" asp-antiforgery="true" method="post">
        <button type="button" onclick="if (confirm('Удалить!')) { $(this).closest('form').submit(); }" class="btn btn-danger">Удалить!</button>
    </form>
</div>
<style>
    input, select {
        max-width: 100%
    }
</style>
@section Popper{
    @* Popper должен находится перед файлом boostrap *@
    <script src="~/lib/bootstrap-select/dist/popper.js"></script>
}
@section Scripts{
    <script src="~/lib/bootstrap-select/dist/js/bootstrap-select.js"></script>
    <script src="~/lib/bootstrap-select/dist/js/i18n/defaults-ru_RU.js"></script>

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script>
        $('.selectpicker').selectpicker({
            selectedTextFormat: 'count > 4'
        });
    </script>
}