@{
    ViewData["Title"] = "ВДНХ 75";
}

<br />
<div style="width: 650px">
    <img src="/images/vdnh75.jpg" style="box-shadow: 5px 5px 10px black" />
    <a asp-protocol="https" asp-area="" asp-controller="Patient" asp-action="Index" asp-route-PatientId="" class="btn btn-primary" style="float: right; margin-top: 5px;box-shadow: 5px 5px 10px black">Список пациентов</a>
</div>